data/authors/*
data/cache/*
data/mods/*
data/users/*
data/login.db
data/nexus.json
!/**/.gitkeep
package-lock.json
node_modules
.vscode
.idea
.env
.glitch-assets
shrinkwrap.yaml
.githubsync
pull.sh
push.sh
pnpm-lock.yaml