<head>
  <title>Modder of the Year</title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="MOTY">
  <meta property="og:description" content="Subnautica Modding - Modder of the Year">
  <meta property="og:image" content="https://cdn.glitch.com/1d427216-8820-4de5-915f-a2f9a2f3d622%2Fmodding1.png?v=1570445979373">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link rel="shortcut icon" href="https://cdn.glitch.com/5be36e4f-adab-416b-b36b-fde2683e34cb%2Ficon.ico?v=1567675560993">
  <link rel="icon" href="https://cdn.glitch.com/5be36e4f-adab-416b-b36b-fde2683e34cb%2Ficon.ico?v=1567675560993">

  <style>
    html, body {
      background-color: #181a1b;
      color: white;
      font-family: "Helvetica Neue", sans-serif;
      margin: 0;
    }

    a:not(.notalink) {
      color: #3391ff;
    }
  </style>
</head>