<head>
  <title>Modder of the Year</title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="MOTY">
  <meta property="og:description" content="Subnautica Modding - Modder of the Year">
  <meta property="og:image" content="https://cdn.glitch.com/1d427216-8820-4de5-915f-a2f9a2f3d622%2Fmodding1.png?v=1570445979373">

  <link rel="stylesheet" href="/www/css/main.css">
  
  <link rel="shortcut icon" href="https://cdn.glitch.com/5be36e4f-adab-416b-b36b-fde2683e34cb%2Ficon.ico?v=1567675560993">
  <link rel="icon" href="https://cdn.glitch.com/5be36e4f-adab-416b-b36b-fde2683e34cb%2Ficon.ico?v=1567675560993">
</head>