<%- include("partials/head", locals) %>
<%- include("partials/header", locals) %>

<div style="font-family: 'Days One', sans-serif; font-size:16px; color:white; text-align: left;padding-left: 10px;padding-right:10px;">
  <span style="font-size: 30px; font-weight: bold">Frequently Asked Questions</span><br>
  <br>
  <br>
  <span style="font-size: 30px">Which mods are eligible?</span><br>
  <br>
  With a few exceptions, only C# mods created between December 1st 2019 and November 30th 2020 are eligible. Any modder in the <a href="https://discord.gg/UpWuWwq">Subnautica Modding Discord</a> which has at least one eligible mod can be voted for.
  <br>
  <br>
  <br>
  <br>
  <span style="font-size: 30px; font-weight: bold">Privacy Policy</span><br>
  <br>
  <br>
  <span style="font-size: 30px">How is my data being used?</span><br>
  <br>
  <span style="font-weight: bold; font-size: 20px">Summary</span><br>
  Your data is not being sent to any third-parties (excluding <a href="https://discordapp.com">Discord</a> and <a href="https://www.digitalocean.com">DigitalOcean</a>, as stated below) and will only be used by this website.<br>
  We will never manually read sensitive information, such as you Discord authentication key.<br>
  Please see <a href="https://discordapp.com/privacy">Discord</a>'s and <a href="https://www.digitalocean.com/legal/privacy-policy/">DigitalOcean</a>'s privacy policy for details on how they process and use user data.<br>
  <br>
  <br>
  <span style="font-weight: bold; font-size: 20px">Long answer:</span><br>
  We collect and store the following data from users:<br>
  - The user ID of your Discord account<br>
  - An authentication token linked to your account, provided by Discord<br>
  <br>
  We access and use but do not store the following information from users:<br>
  - The username, tag and avatar of your Discord account<br>
  - Whether or not your Discord account has a verified email<br>
  - Your account's creation date<br>
  <br>
  The following data is stored in the user's browser in the form of cookies:<br>
  - The user ID of your Discord account<br>
  - A generated session key to validate the login session<br>
  <br>
  <br>
  We collect and store the following data from modders:<br>
  - The user ID of your Discord account<br>
  - In the case of modder teams/groups, a name and profile picture representing the team/group<br>
  - Mod IDs of mods you've published to NexusMods<br>
  <br>
  We access and use but do not store the following information from modders:<br>
  - Username, tag and avatar of your Discord account.<br>
  - Metadata of mods you've published to NexusMods (title, description, images)<br>
  <br>
  We do not send your data to any third-parties, nor let any person read them manually. They are just used for
  processing purposes and are neccessary to make the service work.<br>
  All of your data will be automatically deleted once the event ends, on January 1st 2021. If you wish to delete your data manually, contact me at <a href="mailto:alexejhero@gmail.com">alexejhero@gmail.com</a> or send me a message on Discord.<br>
  <br>
  Please read the privacy policy of the following services and make sure you agree with them and comply with their terms of service before using our services:<br>
  - <a href="https://discordapp.com/privacy">Discord (discordapp.com)</a> : Used for authenticating the
  user.<br>
  - <a href="https://www.digitalocean.com/legal/privacy-policy/">DigitalOcean (digitalocean.com)</a> : The site hosting this application<br>
  <br>
  <span style="font-size: 28px">Any questions? Contact me on Discord: <b><code>AlexejheroYTB#1636</code></b></span><br>
</div>