<%- include("partials/head", locals) %>
<%- include("partials/header", locals) %>

<script>
  var authors = JSON.parse(decode("<%= JSON.stringify(authors) %>"));

  $.when($.ready).then(() => {
    $.ajax({
      url: "/getvotes?rankings=true",
      statusCode: {
        401: () => {
          console.log("Can't show votes, unauthorized.");
        },
        403: () => {
          console.log("Can't show votes, unauthorized.");
        },
        200: (data) => {
          window.data = data;
          console.log(authors.filter(a => a.id == data[0])[0].icon);
          $("#one .authorname").text(authors.filter(a => a.id == data[0])[0].name);
          $("#two .authorname").text(authors.filter(a => a.id == data[1])[0].name);
          $("#three .authorname").text(authors.filter(a => a.id == data[2])[0].name);
          $("#one .authoricon").attr("src", authors.filter(a => a.id == data[0])[0].icon);
          $("#two .authoricon").attr("src", authors.filter(a => a.id == data[1])[0].icon);
          $("#three .authoricon").attr("src", authors.filter(a => a.id == data[2])[0].icon);
        },
        500: () => {
          console.log("Error getting votes!");
        },
      },
    });
  });
</script>

<ul class="authorwrapper wrapper">
  <div id="one" class="entry authorentry winnerentry">
    <div class="authorheader">
      <img class="authoricon" src="">
      <a class="authorname notalink"></a>
    </div>
  </div>
  <div id="two" class="entry authorentry winnerentry">
    <div class="authorheader">
      <img class="authoricon" src="">
      <a class="authorname notalink"></a>
    </div>
  </div>
  <div id="three" class="entry authorentry winnerentry">
    <div class="authorheader">
      <img class="authoricon" src="">
      <a class="authorname notalink"></a>
    </div>
  </div>
</ul>